<template>
  <div class="container">
    <div class="row">
      <div v-for="product in products" :key="product.id" class="product col-6 col-md-3 text-center">
        <router-link :to="'/product/' + product.id" class="product__image d-block">
          <img :src="product.cover" :alt="product.name" class="img-fluid" />
        </router-link>
        <button type="button" class="btn btn-info centered" v-on:click="addToCart">Add to cart</button>
      </div>
    </div>
  </div>
</template>

<script>
import {counter} from '../main';

export default {
  data() {
    return {
      products: [
        {
          id: 1,
          name: "grapes",
          cover: "../src/assets/images/product1.jpg"
        },
        {
          id: 2,
          name: "apple",
          cover: "../src/assets/images/product2.jpg"
        },
        {
          id: 3,
          name: "apricot",
          cover: "../src/assets/images/product3.jpg"
        },
        {
          id: 4,
          name: "fig",
          cover: "../src/assets/images/product4.jpg"
        }
      ]
    };
  },
  
  methods: {
      addToCart() {
          counter.addToCart();
      }
  }
};
</script>

<style lang="scss">
.product__image {
  height: 85%;
}
</style>