<template>
    <div class="container">
        <div class="row">
        <div class="col">
            <img :src="'../src/assets/images/product'+$route.params.id+'.jpg'" alt="" class="img-fluid">
        </div>
        <div class="col align-self-center">
            <button type="button" class="btn btn-info centered" v-on:click="addToCart">Add to cart</button>
        </div>
        </div>
    </div>
</template>

<script>
import {counter} from '../main';

export default {
  methods: {
      addToCart() {
          counter.addToCart();
      }
  }
};
</script>