<template>
    <div class="cart position-fixed">
        <div class="cart__img">
            <span class="cart__counter d-block text-light text-center">{{ counter }}</span>
        </div>
    </div>
</template>

<script>
import {bus} from '../main';

export default {
    data() {
        return {
            counter: 0
        }
    },
    created() {
        bus.$on('addToCart', () => {
            this.counter++;
        })
    }
}
</script>

<style lang="scss">
.cart {
    bottom: 0;
    right: 20px;
}
.cart__counter {
    width: 30px;
    height: 30px;
    background: purple;
    border-radius: 50%;
    line-height: 30px;
}
.cart__img {
    width: 100px;
    height: 100px;
    background: url(../assets/images/cart.png);
    background-size: cover;
}
</style>