<template>
  <div id="app">
    <navigation />
    <router-view />
    <floating-cart />
  </div>
</template>

<script>
import FloatingCart from './components/FloatingCart';
import Navigation from './components/Navigation';

export default {
  name: 'app',
  components: {
    'floating-cart': FloatingCart,
    'navigation': Navigation
  }
}
</script>


